h1 {
font-family: "Baloo Da", sans-serif;
font-weight: 700;
margin: 0;
font-size: 50px;
}
a {
	color: white;
	margin: 0 20px;
	font-family: "Baloo Da", sans-serif;
}

p {
font-family: "Raleway", serif;

}
body {
text-align: center;
background-color: rgba(0,0,0,.5);

margin: 0;
}
header{
	background-color: rgb(255,0,50);
	color:#FFFFFF;
	padding: 30px 20px;
}
nav{
	background-color: #0D2C40;
	color:#FFFFFF;
	padding: 5px 0;
}
main{
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 40px 8px;
	height: 279px;
	width: 175px;
}

a:hover{
	background-color: rgba(255,0,50,.4);
	border-radius: 5px;
}
button{
	color:rgb(255,0,50);
	background-color: #0D2C40;
	font-family: "Baloo Da";
	font-size: 20px;
	padding: 20px 50px;
	border:#0D2C40;
	border-radius: 10px;
}
button:hover{
	background-color: rgba(255,0,50,.3);
}
.copyright{
float: left;
}
.message{
float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #F15B31;
	font-weight: 700;

}
.instructions{
	color:white;
}
.gamePage{
	
		font-family: "Baloo Da", sans-serif;
		
			color:#FFFFFF;
	
}
#score{
	color:#FFFFFF;
	font-family: "Baloo Da";
	font-weight: 5px;
	text-align: center;
}
.displayScore{
	text-align:center;
}
footer{
  text-transform: uppercase;
  padding-left: :  20px;
  padding-right: : 20px;
  height: 100px;
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight:500;
}
#shrug{
	width: 500px;
}